mf_chkfile
transferring-data-files-to-jupyter-lab-using-sftp.pdf
VQESolver.py
LiFeSiO4.cif
qhack
ssh-access-guide-for-jupyterlab.pdf
Untitled.ipynb
.ipynb_checkpoints
__pycache__
.vscode
cs-Copy1.ipynb
temp.ipynb